@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
:root{
    --primary-white:#f1f2fa;
    --primary-orange:#f9ab00;
    --primary-dark:rgba(255,255,255,0);
    --primary-red: #ef4035;
    --primary-hover-red:#f53301;
}


body{
    font-family: "Roboto Condensed", sans-serif;
}

/*********** App  Navbar**********/

.navbar-nav {
    margin-left: auto;
}

nav{
    z-index: 2;
}

.logo{
    width: 100px;
}

/**** links*****/

nav a.nav-link{
    font-weight: 300;
    letter-spacing: 2px;
    cursor: pointer;
    font: 0.8rem;
}

nav ul li{
    text-transform: uppercase;
}

.navbar-nav >li > a {

color: var(--primary-white) !important;
margin-right: 12px;
margin-left: 12px;
border-top: 3px solid var(--primary-dark);
}

.navbar-brand
{
    max-width: 100px;
    padding: 0 !important;
    height: 60px !important
}

.navbar-nav > li > a.active,   .navbar-nav >li > a.active:focus{
    border-top: 3px solid var(--primary-orange);

}
.navbar-nav > li > a:hover{ 
    border-top: 3px solid var(--primary-orange);
}

/***************HEADER*******/

.header-wrapper{
    position: relative;
    background: url(pexels-marley-clovelly-3768236.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.main-info{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    z-index: 1;


}
.main-info h1{
    color: var(--primary-orange);
    text-transform: uppercase;
}

/*********** Typed Text ******/

.typed-text{
font-size: 2rem;
color: var(--primary-white);

}

/*********** Main Button ******/
.btn-main-offer{
border:1px solid var(--primary-red);
text-transform: uppercase;
border-radius: 0;
padding: 10px 12px 12px 12px;
color: var(--primary-white);
margin: 2rem;


}

.btn-main-offer:hover
{
    text-decoration: none;
    background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: .2s ease-in-out;
    
}
.tsparticles-canvas-el{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;

}
@media(max-width: 768px)
{
.particles-canvas{
    display: none;
}
}